files:
  /etc/nginx/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGuzCCBKOgAwIBAgIRAIl15WrypH6TOjayoLmnWp8wDQYJKoZIhvcNAQEMBQAw
      SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
      U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yMTAzMTcwMDAwMDBaFw0y
      MTA2MTUyMzU5NTlaMEIxQDA+BgNVBAMTN3VpZnJvbnQtZW52LmViYS1ncmd2eXht
      YS51cy1lYXN0LTIuZWxhc3RpY2JlYW5zdGFsay5jb20wggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQCUWfcr6V/9kA3zEDAAArLpPvM9hfgBzR3bzsbJUtcm
      nrRaYFlSDgTf3e0FE29BUqWbWlkN1BbMJ8jAYyVRFyqrTf2ZO46FzOUoJn3e0nCa
      7Ri+K5A1ESbgZDcSsjNu/VtqKlvvd3878841t8BYgPPAyL90tVjsgy8B6Sh/mKTa
      sAeNSpBwYhZ0PjQIUWTX96hbj+1jKnAtmmtTxexq5av7Qs/kPBrIKjzSbX+yal1v
      NsWK2+5Uq7JKfB2j4Ddva1Ngep7Pl8eff31u/0jhencxY/OvKycHo6/DWrrycEZ/
      YJzEHKXf/ZIy2f3cxgzTR+sufabWG1tQNVneqda6KnctAgMBAAGjggKhMIICnTAf
      BgNVHSMEGDAWgBTI2XhootkZaNU9ct5fCj7ctYaGpjAdBgNVHQ4EFgQUHDDv50AU
      ooMIQM3piwn0BHkj0oIwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYD
      VR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYLKwYBBAGy
      MQECAk4wJTAjBggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9DUFMwCAYG
      Z4EMAQIBMIGIBggrBgEFBQcBAQR8MHowSwYIKwYBBQUHMAKGP2h0dHA6Ly96ZXJv
      c3NsLmNydC5zZWN0aWdvLmNvbS9aZXJvU1NMUlNBRG9tYWluU2VjdXJlU2l0ZUNB
      LmNydDArBggrBgEFBQcwAYYfaHR0cDovL3plcm9zc2wub2NzcC5zZWN0aWdvLmNv
      bTCCAQIGCisGAQQB1nkCBAIEgfMEgfAA7gB1AH0+8viP/4hVaCTCwMqeUol5K8UO
      eAl/LmqXaJl+IvDXAAABeEBoSWcAAAQDAEYwRAIgK8yNYuGmsrv5bvOw+Zu2Z1On
      gGXJeTiZe1WMIFuVUzsCIEwU8fNlyePws+vEX3nKtTTJEVImpVlvm089gOrRMKsT
      AHUAlCC8Ho7VjWyIcx+CiyIsDdHaTV5sT5Q9YdtOL1hNosIAAAF4QGhJSAAABAMA
      RjBEAiBjU/33bu+zhTLwNZCXQPm6aWiNVq9H4zx5mUwKv/uLqQIganz8qxhc0Fvk
      nl01ZhzrWs4i6U5VIhjTuZwYczSijxkwQgYDVR0RBDswOYI3dWlmcm9udC1lbnYu
      ZWJhLWdyZ3Z5eG1hLnVzLWVhc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTANBgkq
      hkiG9w0BAQwFAAOCAgEAfofd+eB7PIC1jeCRDshpmNO1CevCI8VGM+N5fW+k9AlA
      O5ZRLFfueYiFkJUQ7Ci6sS0lbzBT5nemEoucfh55diHWLoMZ15VWeic3LMrrjIrS
      giukYKBexu1QebQzB7k7ZNopfz9UMKHFgCWDDKcuUy/ikZrwMeigx52IKt8l82mP
      B9mFfSAiL+AyqQvwjAPD/jOHamY7BLbfn51dxk8nseqXd97nyGLTqFlG5jF/S/Io
      8iJzP2XsMORVPE5qIMrIxx0oZt+yCNlDO2cuwzoStb55CURQ3JxMDV3I2juYkSiS
      h0C4samqC9mNTUgzgMHIHVmRo4ICzPw989XQyFHK2UB/xbsXubXNVKOsileT7ug9
      mSL8jl20DZQamms/PNrCWWjxJA0vQeid6vfsT4bgS3ma5xaDHUdqlWjOEaBTm2Ez
      0QxZEqtRw84gICJcGNkQC4Epc0ElWlbPIJaCSPYD27KiZ/HlhiSkOXHslCHLbkQU
      xcPFj+r8Jv9iPSaDNWHdTzWoMRFhgkc1ARgBK4kRmsrcy9wW5KXa9HmqRh+C4ku6
      3GaSmH9rc+JgeWseoGq2vxkw6NM6y1XSjVWFVywu6didlUDcTsat4dTx9J5M0dCE
      IxS/UXwuDOtyTwVETg/iarzQZDadbvS0Q3KQZyr9ayQk9hThxMaOt4+cnjVob+E=
      -----END CERTIFICATE-----

  /etc/nginx/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAlFn3K+lf/ZAN8xAwAAKy6T7zPYX4Ac0d287GyVLXJp60WmBZ
      Ug4E393tBRNvQVKlm1pZDdQWzCfIwGMlURcqq039mTuOhczlKCZ93tJwmu0YviuQ
      NREm4GQ3ErIzbv1baipb73d/O/PONbfAWIDzwMi/dLVY7IMvAekof5ik2rAHjUqQ
      cGIWdD40CFFk1/eoW4/tYypwLZprU8XsauWr+0LP5DwayCo80m1/smpdbzbFitvu
      VKuySnwdo+A3b2tTYHqez5fHn399bv9I4Xp3MWPzrysnB6Ovw1q68nBGf2CcxByl
      3/2SMtn93MYM00frLn2m1htbUDVZ3qnWuip3LQIDAQABAoIBAAEufkOBRlx0q0fG
      VzuIyfgFolZZHNKW2agIi5jK6h/Kn9Egd1Wp+uv1jo+9yeMRT3RfUdpEWDIkFvtB
      TujIcHSQ2HZB/S6fpSuest31eyQgw1OwcSObEV40LiQd+z7lEbdUwwqzPvYxSPEw
      l32c+VQNxUiesSihGty/CK2Lf7SmMyrsczJHFacNwNfArS/1q84etmP9qDerVN4c
      pCKq5afbxppPJQxVCqGSxQOW+GGzHoacgeYbyxYxe+/a2Exi4pKittsZHYqnRzR4
      LZodYZE1zurmgxA4nuNDruRfngTbh2mOI5krYiia445n618+DIm+KhXbSYNLCHSv
      cp5GfwECgYEA1iQ0O2ajr1pOV6ylIWizsQvJ/P4T3rsbKQdc9dZ9AsfhwWtQHnwK
      fDVznz13JvznlkBx87EN/6GJj45jX5wte/4WceWzRHUVNH518tloEkCzhh7rmLB0
      mmwb5ZH9W+yje8Z7Df9T/qToJ2ukOOfKPnWwYemEwyIiZTAmqlHLfiECgYEAsVmU
      zVMrT35GOcfNJq2eUabQellLbnefXQ3ggTe0Bv22KeTwOV28Nv5fmK3YvnSECiaY
      zy4Q2eZ17JGr2S7cRH40XREj9BN0Ka0pLaxfDlYFstsSdHqmM82lvsohUFkXO+wy
      MTprIchIEp6CDy544M8ER9s9paCQoHeh687QH40CgYAEXYiTDWyYzoZ6UxKqs6+2
      FD9x4NwW1kmfdH74o/64Z8q6Xq2rcWvlTFGnFWGwccdm0LmB9kIKzAg53PU5pb1n
      oa5jdANLifd8sndFFBmDBb6jJU44NqCp5TpMW8WGcjSC+XDYwDO+JS52X0NhxZfh
      3hRSaqhCMhfxaCHhpvk3AQKBgFhojbMlSKviCOP45B3p4shVXgv/w4iX/UuIBWik
      +guaIlsUE2Slg5Pujn0v/KJEtyXQQ9DT5/aX2iVKIN6ta4SBXV0flEqx//Ber+5i
      xSgCXejhKHwEQCIG3B8V6DGDl/95KTQ9KPa4PqV5euBSjFOVH08qzbppJm+383H3
      sOxpAoGBALM15th9Fj6qH/tYbEk6geb9prmF7D6Ksuh6PHps+2oIF6gFJe1kRqkG
      mZ10m/YflAybqrzqFxxv8xn543DPJVJQQLyKAsxKsS2dgA/3CVeE9seTMVEznDTd
      /7R/PUKcXChOnyJuZi5C21B8zfBlgmlDw5nXcRgXk/JsSIDZ6cNF
      -----END RSA PRIVATE KEY-----