Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/79C350A1A96B60B2EFA45F1739C6BCAF.txt:
    mode: "000644"
    owner: root
    group: root
    content: |
      20B997D05A527F8C86EF5CEFBBBED4CE6156BBA69AAC20CB700B1C4A90ECA31B
      comodoca.com
      383b99e69e76fc9

container_commands:
  001_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;