Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/6365E3B0D3603B1D9FC00F8AECD90EF5.txt:
    mode: "000644"
    owner: root
    group: root
    content: |
      EDC0A8A18D76529352452170E50A9B3A9DA2DE991B3E2E7D906E2B34A25F61A5
      comodoca.com
      f96c2e881e82f92

container_commands:
  001_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;