files:
  /etc/nginx/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGqDCCBJCgAwIBAgIQRIGV3TXzlTLwwqR5JMlv8TANBgkqhkiG9w0BAQwFADBL
      MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
      TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTIxMDMxODAwMDAwMFoXDTIx
      MDYxNjIzNTk1OVowODE2MDQGA1UEAxMtcm9vbXJvY2tldC1kZXYudXMtZWFzdC0y
      LmVsYXN0aWNiZWFuc3RhbGsuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
      CgKCAQEAkVXyvRYhsDM0XgpkY8jSxH30WFVd8qgdTyt0Mb0ex08s1TQnexvzTt7S
      anQCqFK1h0ZHTeiJggbFarwcJYDeW5oQZ3ydY8TJI6JI7dmx/BtKbT5SWykqi8re
      3jHHbK2hPqlhhaUqnNEizpGW+WbNYmISNRXEj1mQTjLlcvLENoZmXzp541AifweP
      55+s0fyqEzJ1F8VFlropvhqI0Lp6lYiTn4dz67Nbtk4mzdkUiNo8Lu7Li8AkLKGX
      38TaTDNuIWzG5u2d8TlHIXHtOpJf5dEKFfgorqbm6iU6nVSop6WXC/FnutLFQwss
      2AWEf4vwLMV/wD5h/rPqiXhSyiHizQIDAQABo4ICmTCCApUwHwYDVR0jBBgwFoAU
      yNl4aKLZGWjVPXLeXwo+3LWGhqYwHQYDVR0OBBYEFKe7ZhMs4aJlgkcf2TrzCgnj
      5pyaMA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB0GA1UdJQQWMBQGCCsG
      AQUFBwMBBggrBgEFBQcDAjBJBgNVHSAEQjBAMDQGCysGAQQBsjEBAgJOMCUwIwYI
      KwYBBQUHAgEWF2h0dHBzOi8vc2VjdGlnby5jb20vQ1BTMAgGBmeBDAECATCBiAYI
      KwYBBQUHAQEEfDB6MEsGCCsGAQUFBzAChj9odHRwOi8vemVyb3NzbC5jcnQuc2Vj
      dGlnby5jb20vWmVyb1NTTFJTQURvbWFpblNlY3VyZVNpdGVDQS5jcnQwKwYIKwYB
      BQUHMAGGH2h0dHA6Ly96ZXJvc3NsLm9jc3Auc2VjdGlnby5jb20wggEEBgorBgEE
      AdZ5AgQCBIH1BIHyAPAAdgB9PvL4j/+IVWgkwsDKnlKJeSvFDngJfy5ql2iZfiLw
      1wAAAXhEpjsyAAAEAwBHMEUCIGPt0NmN7hvrBQuVbIK+OkufCMpcvh43vPEzH7Bk
      azr+AiEA+3pKquoDU8dkPlsVJxgH2BLgBcx++gCOj6L/xDGbIXQAdgCUILwejtWN
      bIhzH4KLIiwN0dpNXmxPlD1h204vWE2iwgAAAXhEpjsBAAAEAwBHMEUCIEBpbBWm
      b9Z3ckmHDDcQ2oZKghGgcP7P0v52SXts9kOEAiEApUSQ5gG0ZTL9CwWip1r+78Tc
      adiQav9gqracwm5mwB4wOAYDVR0RBDEwL4Itcm9vbXJvY2tldC1kZXYudXMtZWFz
      dC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAN3RLV
      DJx7fR8Du6uyqEHGlKs/wvuKc7m2XATgPWOroYiX8FCKA8HOjPGX+9aD8VfCU7yD
      vnz+x074gqXhkkKbJwUGfOnlIQwiYJYhEhuGrMl62Htc+VXWxMfPJkRuv2K+7Nb5
      +e0vtpprTwdoMoFbaR0zSuMlpCYor7JxbVIF3IBLv3h9ZigSMb/c/U1IJqNvyQQm
      YwB1Fi29oqZHJsYN/fNsfehLlfSOPgGpaiWtGrNcKdfxvcdbihCieN6osUi6o08H
      BFZgWD6kCS9F6RkM1j5h6qUls7Pfz5SCO1iKLidoHye66rbujsMD7YJQJ2ssNuRC
      dMJZjXs4wcr+X1ljWt1BrM/ayCc/MW+uQ+JIyjJGJJ4s9bAYv2lDV6yVEOHyC/LY
      V4wMZVrzWvW70GXPzBmqDhusA13HJ27YqKiK+3jOPdR4XqHKVqWdBEfAgZmk2Zx/
      luFkx+ZyeGhPi58U+L10BQspQxlOh4R6ILdOUE5LWfXMCLN87YauKtxhbC/H/1er
      r8LRc3FSljeF9LPSPowpXsMKoKU5avkqKn7eS7AT0DK8sSFRtvWk+ZJOGAs8ere/
      elulbtO/IY7ho0V8uo6kY6DklzUDfGsMrdWOvgfpo/URLTbc1Oj1B5ubybUw4P0w
      yof8vsbwnk00rgTqzSuWhU+GbiAbR1ilh+R2rQ==
      -----END CERTIFICATE-----

  /etc/nginx/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAkVXyvRYhsDM0XgpkY8jSxH30WFVd8qgdTyt0Mb0ex08s1TQn
      exvzTt7SanQCqFK1h0ZHTeiJggbFarwcJYDeW5oQZ3ydY8TJI6JI7dmx/BtKbT5S
      Wykqi8re3jHHbK2hPqlhhaUqnNEizpGW+WbNYmISNRXEj1mQTjLlcvLENoZmXzp5
      41AifweP55+s0fyqEzJ1F8VFlropvhqI0Lp6lYiTn4dz67Nbtk4mzdkUiNo8Lu7L
      i8AkLKGX38TaTDNuIWzG5u2d8TlHIXHtOpJf5dEKFfgorqbm6iU6nVSop6WXC/Fn
      utLFQwss2AWEf4vwLMV/wD5h/rPqiXhSyiHizQIDAQABAoIBAQCAvBQGv4rZq5GQ
      Vz4zURi46iS89ekA3z8O+Ju0zyNrQkuhEtCB8PElBKR3nQkZliGrkGnqrbbX0S2f
      bL61zZ+oniA3up8jV5UfFknpPXK1sGrNt211yFIif3HIeWl/b5ErkxeKLRJA09M0
      DKwhgJkes2YTVZPFsnzrd5PcrQN2k1iW1ml2Y6uOW0YVa34sj7X1GqUNusVEQhC/
      4r71BVZ/1h11k5YLtgsmt89kVBpxashi6+ONgVA1Sasu5UcHLh73wngQ7hZhlSNw
      z7y3O2R2mi24eki7+NtmPpd1Io2fNJvq8C6qYETtY164xgHgFzrEFin97kVMyRzE
      AFu9kCghAoGBAPUmgMO58Y6yLf0xD48Tod4rse0l4tAUk5prp0ncMMR9Y/6qIGSa
      pgibYKu7aMp16/aH+m0rv3juXw/XZ3VeurOwUPO7gBPyfHvl/AYD0rmz3DumfdZr
      53JPwbRSfPxTNSeGXHiOEronho/2WwbQSQSwcTo4BFMmqxk40YXHkQG1AoGBAJfE
      kXljscQnoPYI27Z2jq5oPhPLe9zDFKxW624W5O/ax9cNJldxodIAZdTN62pKXeaw
      uuoH6ATNMLDyBIsp+rkej90e/cJxhVfvbIwj8tzmcUU6FABk2N5BYQsJUwYjioGq
      i5Uk1+45W82P2ruJo9QRT0ZbOzQbf/rdYVdkvWu5AoGAIlTkD4UI2S0G18B5J1Ze
      gtinsEhv/SgEi8mrweI+SiYtTMrSgoRN4EKyRRqX0FK3Wu0sGwHXbL4lPfiymnNL
      vkJg8+E8TI7W9Br/MnByoGMZ4pisYsz1usKEpBYxPr0AYqqkZJWw9bT3WU3s7YVZ
      1HhJQxf5MxPlPkEAxrVuD0kCgYEAlmF17Bw2xrCls2RvoMq08mfkKuUTpFnAoEu4
      GGujCW91WMd02GyF9XnjbQtlWvq5NJ6ldsPCyQ8wUgRdMC+2ebuovWe59fNaNxnM
      KshsGypTzk6QBxvmL8QEjlT86TZKRdVhXbUWKLy5FGSYTf9CUB2euY4oiac+FqtJ
      irkNYDECgYBCyl9gkNHG8hVOqAezOYqvfXJxQmtk+6LJUAV+DSxErdAzkoi6rubv
      3azBsVucdvg1Su7BXKYEMGIdFvhmIb42Ytd8gma8FStZLBj7DdkUu5dHoCYJjBFj
      J6dRsy+fqBDBKhdZ1ScIdkF48INmT9M/Gz8DLg8nskkXWGDqF26lHA==
      -----END RSA PRIVATE KEY-----